{% extends 'base.html' %}

{% block title %}
Contact Us
{% endblock title %}

{% block body %}
<div class="container mb-5">
    <form method="post" action="/contacts" class="btn btn-light position-absolute top-50 start-50 translate-middle
    w-100 p-0.5">
       {% csrf_token %}
        <div class="form-group py-3">
            <label for="name">Name</label>
            <input type="name" class="form-control" id="name" name="name" placeholder="Enter Your Name Here">
        </div>

        <div class="form-group py-3">
            <label for="phone">phone</label>
            <input type="integer" class="form-control" id="phone" name="phone" placeholder="Enter Your Phone Number Here">
        </div>

        <div class="form-group py-3">
            <label for="email">email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your E-Mail Here">
        </div>

        <div class="form-group py-3">
            <label for="desc">What do you want to ask?</label>
            <input type="desc" class="form-control" id="desc" name="desc" placeholder="Tell Us Your Query">
        </div>
        <div class="form-group py-3">
        <input class="btn btn-primary w-100 py-2" type="submit" value="Submit">
        </div>
    </form>
</div>


{% endblock body %}